%nav#fixed
  .flex
    =link_to "Home", "/", id: "logo"
    .menu
      %ul
        %li= link_to "Services", "/services"
        %li= link_to "Interactive", "/interactive"
        %li= link_to "Identity", "/identity"
        %li= link_to "Art", "/art"
        %li= link_to "Resume", "/images/pdfs/resume.pdf"
        %li= link_to "Contact", "mailto:josh.schmitz@querycreative.net", class: "airplane-icon"
    